doctype html
html(lang="fr")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Checklist
    link(rel="stylesheet", href="/css/style.css")
    link(rel="manifest", href="/manifest.json")
    script(src="/js/app.js")
  body
    .container
      h1 🧹 Checklist de l'Happy Clean 🧹
      ul
        if checklist && checklist.length
          each item in checklist
            li
              form(method="post", action=`/toggle/${item._id}`)
                label(style=`background-color: ${item.done ? '#fcd6f6' : 'none'}`)
                  input(type="checkbox", checked=item.done, onchange="this.form.submit()")
                  | #{item.texte}
        else
          li Aucune tâche pour le moment.
      form(method="post" action="/reset")
        button(type="submit") 🔄 Réinitialiser tout
      h2 Inventaire 
      form(method="post", action="/inventaire")
        .inventaire
          img.papierToilette(src="pictures/papierToilettes.PNG" alt="pas d'images")
          select(id="papierToilette", name="papierToilette", class="listeDeroulante", onchange="this.form.submit()")
            option(value="0", selected=(inventaire.length > 0 && inventaire[0].papierToilette == "0")) 0
            option(value="1", selected=(inventaire.length > 0 && inventaire[0].papierToilette == "1")) 1
            option(value="2", selected=(inventaire.length > 0 && inventaire[0].papierToilette == "2")) 2
            option(value="3", selected=(inventaire.length > 0 && inventaire[0].papierToilette == "3")) 3
            option(value="4", selected=(inventaire.length > 0 && inventaire[0].papierToilette == "4")) 4
            option(value="5", selected=(inventaire.length > 0 && inventaire[0].papierToilette == "5")) 5  

        .inventaire
          img.papierToilette(src="pictures/drapBleuJaune.jpg" alt="drapBleuJaune")
          select(id="drapBleuJaune", name="drapBleuJaune", class="listeDeroulante", onchange="this.form.submit()")
            option(value="villeJuif", selected=(inventaire.length > 0 && inventaire[0].drapBleuJaune == "villejuif")) VilleJuif
            option(value="pantin", selected=(inventaire.length > 0 && inventaire[0].drapBleuJaune == "pantin")) Pantin
            option(value="saint-michel", selected=(inventaire.length > 0 && inventaire[0].drapBleuJaune == "saint-michel")) Saint-Michel
    
        .inventaire
          img.papierToilette(src="pictures/drapSatin.jpg" alt="drapSatin")
          select(id="drapSatin", name="drapSatin", class="listeDeroulante", onchange="this.form.submit()")
            option(value="villeJuif", selected=(inventaire.length > 0 && inventaire[0].drapSatin == "villejuif")) VilleJuif
            option(value="pantin", selected=(inventaire.length > 0 && inventaire[0].drapSatin == "pantin")) Pantin
            option(value="saint-michel", selected=(inventaire.length > 0 && inventaire[0].drapSatin == "saint-michel")) Saint-Michel

        .inventaire
          img.papierToilette(src="pictures/drapFleuris.jpeg" alt="drapFleuris")
          select(id="drapFleuris", name="drapFleuris", class="listeDeroulante", onchange="this.form.submit()")
            option(value="villeJuif", selected=(inventaire.length > 0 && inventaire[0].drapFleuris == "villejuif")) VilleJuif
            option(value="pantin", selected=(inventaire.length > 0 && inventaire[0].drapFleuris == "pantin")) Pantin
            option(value="saint-michel", selected=(inventaire.length > 0 && inventaire[0].drapFleuris == "saint-michel")) Saint-Michel   


        .inventaire
          img.papierToilette(src="pictures/serviette.jpg" alt="pas d'images")
          select(id="serviette", name="serviette", class="listeDeroulante", onchange="this.form.submit()")
            option(value="0", selected=(inventaire.length > 0 && inventaire[0].serviette == "0")) 0
            option(value="1", selected=(inventaire.length > 0 && inventaire[0].serviette == "1")) 1
            option(value="2", selected=(inventaire.length > 0 && inventaire[0].serviette == "2")) 2
            option(value="3", selected=(inventaire.length > 0 && inventaire[0].serviette == "3")) 3
            option(value="4", selected=(inventaire.length > 0 && inventaire[0].serviette == "4")) 4
            option(value="5", selected=(inventaire.length > 0 && inventaire[0].serviette == "5")) 5 
            
      h2 Commentaires

      form(method="post", action="/commentaires")
        label(for="commentaires")
        textarea#commentaire(type="text" name="commentaires", placeholder="Écrivez ici...")
        select(id="avatar" name="avatar" class="listeDeroulante")
          option(value="pictures/anonyme.jpg") Qui parle ?? 
          option(value="pictures/lola.PNG") Lola
          option(value="pictures/roseline.jpg") Roseline
        button(type="submit") ➕ Ajouter 

      ul
        if commentaires && commentaires.length
          each commentaire in commentaires
            li
              .date-avatar
                img.avatar(src=commentaire.avatar alt="pas d'images")
                p.commentaire-date #{commentaire.date}
              p.commentaire-texte #{commentaire.texte}
              form(method="post", action=`/commentaires/supprimer/${commentaire._id}`, style="display:inline; white-space: nowrap")
                button(type="submit", style="margin-bottom:0.1rem") ❌ Supprimer
        else
          li Aucun commentaire pour le moment.

        
